@import '../../../styles/variables';

.article-item {
  display: flex;
  margin: $md-spacing 0 $md-spacing 0;
  color: $dark-font;

  &__image {
    margin: 0 $md-spacing;
  }

  &__description {
    flex-grow: 1;
    max-width: 480px;
  }

  &__cost {
    font-size: 24px;
    padding: $sm-spacing 0 $bg-spacing 0;
  }

  &__title {
    font-size: 18px;
  }

  &__shipping-img {
    margin-left: $sm-spacing;
  }

  &__province {
    grid-column-start: 10;
    grid-column-end: 11;
    font-size: 12px;
    color: $clear-font;
  }
}