
// Spacing
$sm-spacing: 8px;
$md-spacing: 16px;
$bg-spacing: 32px;

// Colors
$base-color: #FFE600;
$dark-font: #333;
$clear-font: #666;
$description-font-color: #999;
$background-color: #EEE;
$success-btn: #3483FA;